{
"driverName":"{driverName}",
"driverLocation":"{driverLocation}",

"driverNameFireFox":"{driverNameFireFox}",
                    "driverLocationFireFox":"{driverLocationFireFox}",



"SiteURLIMDB":"{SiteURLIMDB}",
"SiteURL2":"{SiteURL2}",

"savedScreenshotLocation":"{savedScreenshotLocation}",
"CAPTURE":"{CAPTURE}")"

}

