{
"driverName":"{driverName}",
"driverLocation":"{driverLocation}",

"driverNameFireFox":"{driverNameFireFox}",
                    "driverLocationFireFox":"{driverLocationFireFox}",



                    "SiteURL1":"{SiteURL1}",
"SiteURL2":"{SiteURL2}",

"savedScreenshotLocation":"{savedScreenshotLocation}",
"CAPTURE":"{CAPTURE}")"

}

